
/* 分类菜单 */
#category .menuSlide{
    width: 200px;
    background: #f3f3f3;
    position: relative;
}
#category .menuSlide li p{
    text-indent:20px;
    line-height: 35px;
    position: relative;
    z-index: 1001;
    border:1px solid #f3f3f3;
}
#category .menuSlide li p a{
    font-size:14px;
    color:#1a1a1a;
}

/* hover */
#category .menuSlide li:hover p{
    width: 200px;
    background: #fff;
    border:1px solid #f60;
    border-right:1px solid #fff;
}

/* 二级菜单 */
#category .menuSlide li dl{
    width: 475px;
    border:1px solid #f60;

    position: absolute;
    left:200px;
    top:0;

    z-index:1000;

    display: none;
}
/* hover */
#category .menuSlide li:hover dl{
    display: block;
    padding:0 70px 30px 35px;
    background: #fff;
}

/* 修饰样式 */
#category .menuSlide li dl dt{
    border-bottom:2px solid #e6e6e6;
    line-height: 26px;
}
#category .menuSlide li dl dt.bnone{
    border:none;
    line-height: 40px;
}
#category .menuSlide li dl dt.bnone a{
    color: #262626;
    margin-right:35px;
}
#category .menuSlide li dl dt a{
    color:#f60;
    font-size:14px;
}
#category .menuSlide li dl dd{
    line-height: 24px;
}
#category .menuSlide li dl dd a{
    color: #262626;
    margin-right:10px;
}
#category .banner{
    width: 1000px;
    height: 200px;

}
/* 今日推荐 */
#recommend .recombox{
    width: 1190px;
    border-left:1px solid #f60;
    box-sizing: border-box;
}
#recommend .recombox .items{
    width: 198px;
    border-right:1px solid #f60;
    border-bottom:1px solid #f60;
    box-sizing: border-box;
    padding:8px 0 10px;
}
/*  电子书*/
/* 左边 */
#ebook .leftbox{
    width: 904px;
}
 .commentslider{
    width: 238px;
}
 .commentslider li{
    width: 79px;
    height: 38px;
    line-height: 38px;
    float: left;
    text-indent:4px;
}
  .commentslider li a{
    font-size: 14px;
    color: #333;
}
#ebook .leftbox .einner{
    width: 664px;
    border-left:2px solid #e0dede;
}
#ebook .leftbox .einner li{
    width: 166px;
    height: 219px;
    float: left;
    border-right: 2px solid #e0dede;
    border-bottom: 2px solid #e0dede;
    box-sizing: border-box;
    padding: 10px 4px;
}
#ebook .leftbox .einner li h3{
    line-height: 28px;
    font-size:16px;
}
#ebook .leftbox .einner li del{
    color:#b3b3b3;
    margin-left:10px;
}
#ebook .leftbox .einner li.firstLi{
    width: 332px;
    padding:0;
}
/* 设置当前ul 显示 on */
#ebook .leftbox .einner>ul.on{
    display: block;
}
#ebook .leftbox .einner>ul{
    display: none;
}
/* 服装部分、运动、童装公共部分 */
.commentinner{
    width: 960px;
    border-left:2px solid #e0dede;
}
.commentinner li{
    width: 166px;
    height: 219px;
    float: left;
    border-right: 2px solid #e0dede;
    border-bottom: 2px solid #e0dede;
    box-sizing: border-box;
}
.commentinner li.firstLi{
    width:429px;
	height: 340px;
}
.commentinner li.secondLi{
    width: 177px;
	height: 340px;
}
.commentinner li.thridLi{
    width: 429px;
	height: 162px;
}
.commentinner li.fourLi{
    width: 177px;
	height: 162px;
}
/* 商标部分 */
.brand a{
    float: left;
    width:120px;
}
/* 家居日用 */
.houseUl{
    width:709px;
}
.houseUl li{
    width: 177px;
	height: 340px;
    float: left;
    border-right:2px solid #ccc;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
}
.houseUl li.mli{
    height: 162px;
}
#house .houseUnite{
    border: 2px solid #ccc;
    border-top:0;
}
/* 推广 */
#extension>ul li{
    float: left;
    width: 194px;
    height: 270px;
    padding:20px 0 0 46px;;
    margin-top: 10px;
}
#extension>ul li:hover{
    background: #f2f2f2;
}
#extension>li h4{
    color: #333;
    width:150px;
    font-size: 14px;
    padding-top: 10px;
}
#extension>li h3{
    color: #f4290d;
    font-size: 24px;
}
#extension>li p{
    color:#ccc;
    padding-left:30px;
    font-size: 16px;
    background: url(../imgs/bgicon.png) no-repeat 0 -82px;
}
#extension>li p span{
    color: #e30c02;
}
/* 设置当前ul 显示 on */
#extension>ul.on{
    display: block;
}
#extension>ul{
    display: none;
}
/* 楼层 */
#floor{
    width:40px;
    height:200px;
    background:#f77b29;
    border: 2px solid #f60;
    position: fixed;
    left: 50%;
    top:200px;
    margin-left:-640px;
    z-index:1002;
}
#floor li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(../imgs/floor.png) no-repeat;
    overflow: hidden;
    color: #fff;
    text-indent: 40px;
    font-size: 16px;
}
#floor li.fbox1{background-position: 0 0;}
#floor li.fbox2{background-position: 0 -80px;}
#floor li.fbox3{background-position: 0 -160px;}
#floor li.fbox4{background-position: 0 -200px;}
#floor li.fbox5{background-position: 0 -320px;}

/* 二维码弹出效果*/
#codeBox{
    width:40px;
    position: fixed;
    top:50%;
    margin-top:-15px;
    right: 50%;
    margin-right:-640px;
}
#codeBox .twoCode{
    position: absolute;
    top: 40px;
    right:40px;
    display: none;
}
/* 侧导航栏 */
.rightNav{ position:fixed; top:50%;left:50%;margin-left: 490px;margin-top: -276px; width:140px;  /* right:0; top:60px; */ text-align:left; cursor:pointer; }
.rightNav a{ display:block; position:relative; height:30px; line-height:30px; margin-bottom:2px; background:#fff; padding-right:10px; width:130px; overflow:hidden;  cursor:pointer; right:-110px; }
.rightNav a:hover{ text-decoration:none; color:rgb(194, 24, 61);  }
.rightNav a:hover em{ background:#2bb700}
.rightNav a em{ display:block; float:left; width:30px; background:#f60; color:rgb(147, 200, 231); font-size:16px; text-align:center; margin-right:10px;}
.rightNav a.new em{ background:rgb(247, 225, 27);  }

